In [2]:
import pandas as pd
df = pd.read_csv('hotel_bookings.csv')

In [3]:
# Display the first few rows and summary information of the dataset
print(df.head())
print(df.info())
print(df.describe())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit
1                        0                     0       2  ...    No Deposit
2                        0                     1       1  ...    No Deposit
3                        0                     1       1  ...    No Deposit
4                        0                     2       2  ...    No Deposit

   agent company days_in_waiting_list customer_type   adr  \
0    NaN     NaN                    0     Transient   0.0
1    NaN     NaN                    0     Transient   0.0
2    NaN     NaN                    0     Transient  75.0
3  304.0     NaN                    0     Transient  75.0
4  240.0     NaN                    0     Transient  98.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out
1                            0                          0           Check-Out
2                            0                          0           Check-Out
3                            0                          0           Check-Out
4                            0                          1           Check-Out

  reservation_status_date
0                7/1/2015
1                7/1/2015
2                7/2/2015
3                7/2/2015
4                7/3/2015

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None
         is_canceled      lead_time  arrival_date_year  \
count  119390.000000  119390.000000      119390.000000
mean        0.370416     104.011416        2016.156554
std         0.482918     106.863097           0.707476
min         0.000000       0.000000        2015.000000
25%         0.000000      18.000000        2016.000000
50%         0.000000      69.000000        2016.000000
75%         1.000000     160.000000        2017.000000
max         1.000000     737.000000        2017.000000

       arrival_date_week_number  arrival_date_day_of_month  \
count             119390.000000              119390.000000
mean                  27.165173                  15.798241
std                   13.605138                   8.780829
min                    1.000000                   1.000000
25%                   16.000000                   8.000000
50%                   28.000000                  16.000000
75%                   38.000000                  23.000000
max                   53.000000                  31.000000

       stays_in_weekend_nights  stays_in_week_nights         adults  \
count            119390.000000         119390.000000  119390.000000
mean                  0.927599              2.500302       1.856403
std                   0.998613              1.908286       0.579261
min                   0.000000              0.000000       0.000000
25%                   0.000000              1.000000       2.000000
50%                   1.000000              2.000000       2.000000
75%                   2.000000              3.000000       2.000000
max                  19.000000             50.000000      55.000000

            children         babies  is_repeated_guest  \
count  119386.000000  119390.000000      119390.000000
mean        0.103890       0.007949           0.031912
std         0.398561       0.097436           0.175767
min         0.000000       0.000000           0.000000
25%         0.000000       0.000000           0.000000
50%         0.000000       0.000000           0.000000
75%         0.000000       0.000000           0.000000
max        10.000000      10.000000           1.000000

       previous_cancellations  previous_bookings_not_canceled  \
count           119390.000000                   119390.000000
mean                 0.087118                        0.137097
std                  0.844336                        1.497437
min                  0.000000                        0.000000
25%                  0.000000                        0.000000
50%                  0.000000                        0.000000
75%                  0.000000                        0.000000
max                 26.000000                       72.000000

       booking_changes          agent      company  days_in_waiting_list  \
count    119390.000000  103050.000000  6797.000000         119390.000000
mean          0.221124      86.693382   189.266735              2.321149
std           0.652306     110.774548   131.655015             17.594721
min           0.000000       1.000000     6.000000              0.000000
25%           0.000000       9.000000    62.000000              0.000000
50%           0.000000      14.000000   179.000000              0.000000
75%           0.000000     229.000000   270.000000              0.000000
max          21.000000     535.000000   543.000000            391.000000

                 adr  required_car_parking_spaces  total_of_special_requests
count  119390.000000                119390.000000              119390.000000
mean      101.831122                     0.062518                   0.571363
std        50.535790                     0.245291                   0.792798
min        -6.380000                     0.000000                   0.000000
25%        69.290000                     0.000000                   0.000000
50%        94.575000                     0.000000                   0.000000
75%       126.000000                     0.000000                   1.000000
max      5400.000000                     8.000000                   5.000000

In [4]:
#Identifying missing values in dataframe
missing_values = df.isnull().sum()
print(missing_values)

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
#drop rows with missing values 
df_dropped_rows = df.dropna()
print(df_dropped_rows)

               hotel  is_canceled  lead_time  arrival_date_year  \
2392    Resort Hotel            0          6               2015
2697    Resort Hotel            0         24               2015
2867    Resort Hotel            0         24               2015
2877    Resort Hotel            0         24               2015
2878    Resort Hotel            0         24               2015
...              ...          ...        ...                ...
112499    City Hotel            0         13               2017
113046    City Hotel            0         13               2017
113082    City Hotel            0         13               2017
113627    City Hotel            0        210               2017
116451    City Hotel            0        191               2017

       arrival_date_month  arrival_date_week_number  \
2392              October                        42
2697              October                        44
2867             November                        45
2877             November                        45
2878             November                        45
...                   ...                       ...
112499                May                        21
113046                May                        22
113082                May                        22
113627               June                        23
116451               July                        29

        arrival_date_day_of_month  stays_in_weekend_nights  \
2392                           11                        2
2697                           26                        7
2867                            3                        0
2877                            3                        2
2878                            3                        3
...                           ...                      ...
112499                         24                        0
113046                         29                        1
113082                         29                        1
113627                          9                        0
116451                         16                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
2392                       0       2  ...    No Deposit  240.0   113.0
2697                      15       1  ...    No Deposit  185.0   281.0
2867                       3       2  ...    No Deposit  334.0   281.0
2877                      10       1  ...    No Deposit  328.0   281.0
2878                      10       2  ...    No Deposit  326.0   281.0
...                      ...     ...  ...           ...    ...     ...
112499                     1       2  ...    No Deposit    9.0   478.0
113046                     3       1  ...    No Deposit  290.0   148.0
113082                     3       2  ...    No Deposit  290.0   148.0
113627                     1       2  ...    No Deposit   14.0   229.0
116451                     2       2  ...    No Deposit    9.0   421.0

       days_in_waiting_list    customer_type    adr  \
2392                      0        Transient   82.0
2697                      0  Transient-Party   52.2
2867                      0  Transient-Party   48.0
2877                      0  Transient-Party   40.0
2878                      0  Transient-Party   48.0
...                     ...              ...    ...
112499                    0  Transient-Party  150.0
113046                    0        Transient   95.0
113082                    0        Transient  110.0
113627                    0        Transient  135.0
116451                    0        Transient  120.6

        required_car_parking_spaces  total_of_special_requests  \
2392                              1                          1
2697                              0                          0
2867                              0                          0
2877                              0                          0
2878                              0                          0
...                             ...                        ...
112499                            0                          1
113046                            0                          0
113082                            0                          0
113627                            0                          0
116451                            0                          2

        reservation_status reservation_status_date
2392             Check-Out              10/13/2015
2697             Check-Out              11/17/2015
2867             Check-Out               11/6/2015
2877             Check-Out              11/15/2015
2878             Check-Out              11/16/2015
...                    ...                     ...
112499           Check-Out               5/25/2017
113046           Check-Out                6/2/2017
113082           Check-Out                6/2/2017
113627           Check-Out               6/10/2017
116451           Check-Out               7/20/2017

[217 rows x 32 columns]

In [7]:
#drop columns with any missing values
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  assigned_room_type booking_changes  \
0                          0       2  ...                   C               3
1                          0       2  ...                   C               4
2                          1       1  ...                   C               0
3                          1       1  ...                   A               0
4                          2       2  ...                   A               0
...                      ...     ...  ...                 ...             ...
119385                     5       2  ...                   A               0
119386                     5       3  ...                   E               0
119387                     5       2  ...                   D               0
119388                     5       2  ...                   A               0
119389                     7       2  ...                   A               0

       deposit_type days_in_waiting_list  customer_type     adr  \
0        No Deposit                    0      Transient    0.00
1        No Deposit                    0      Transient    0.00
2        No Deposit                    0      Transient   75.00
3        No Deposit                    0      Transient   75.00
4        No Deposit                    0      Transient   98.00
...             ...                  ...            ...     ...
119385   No Deposit                    0      Transient   96.14
119386   No Deposit                    0      Transient  225.43
119387   No Deposit                    0      Transient  157.71
119388   No Deposit                    0      Transient  104.40
119389   No Deposit                    0      Transient  151.20

        required_car_parking_spaces total_of_special_requests  \
0                                 0                         0
1                                 0                         0
2                                 0                         0
3                                 0                         0
4                                 0                         1
...                             ...                       ...
119385                            0                         0
119386                            0                         2
119387                            0                         4
119388                            0                         0
119389                            0                         2

       reservation_status  reservation_status_date
0               Check-Out                 7/1/2015
1               Check-Out                 7/1/2015
2               Check-Out                 7/2/2015
3               Check-Out                 7/2/2015
4               Check-Out                 7/3/2015
...                   ...                      ...
119385          Check-Out                 9/6/2017
119386          Check-Out                 9/7/2017
119387          Check-Out                 9/7/2017
119388          Check-Out                 9/7/2017
119389          Check-Out                 9/7/2017

[119390 rows x 28 columns]

In [8]:
#filling missing values with specific values 
df_filled_value = df.fillna(0)
print(df_filled_value)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    0.0     0.0
1                          0       2  ...    No Deposit    0.0     0.0
2                          1       1  ...    No Deposit    0.0     0.0
3                          1       1  ...    No Deposit  304.0     0.0
4                          2       2  ...    No Deposit  240.0     0.0
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0     0.0
119386                     5       3  ...    No Deposit    9.0     0.0
119387                     5       2  ...    No Deposit    9.0     0.0
119388                     5       2  ...    No Deposit   89.0     0.0
119389                     7       2  ...    No Deposit    9.0     0.0

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out                7/1/2015
1                Check-Out                7/1/2015
2                Check-Out                7/2/2015
3                Check-Out                7/2/2015
4                Check-Out                7/3/2015
...                    ...                     ...
119385           Check-Out                9/6/2017
119386           Check-Out                9/7/2017
119387           Check-Out                9/7/2017
119388           Check-Out                9/7/2017
119389           Check-Out                9/7/2017

[119390 rows x 32 columns]

In [10]:
# Fill missing values using forward fill and backward fill methods.
df_ffill = df.ffill()
df_bfill = df.bfill()
print(df_ffill)
print(df_bfill)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN     NaN
1                          0       2  ...    No Deposit    NaN     NaN
2                          1       1  ...    No Deposit    NaN     NaN
3                          1       1  ...    No Deposit  304.0     NaN
4                          2       2  ...    No Deposit  240.0     NaN
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0   485.0
119386                     5       3  ...    No Deposit    9.0   485.0
119387                     5       2  ...    No Deposit    9.0   485.0
119388                     5       2  ...    No Deposit   89.0   485.0
119389                     7       2  ...    No Deposit    9.0   485.0

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out                7/1/2015
1                Check-Out                7/1/2015
2                Check-Out                7/2/2015
3                Check-Out                7/2/2015
4                Check-Out                7/3/2015
...                    ...                     ...
119385           Check-Out                9/6/2017
119386           Check-Out                9/7/2017
119387           Check-Out                9/7/2017
119388           Check-Out                9/7/2017
119389           Check-Out                9/7/2017

[119390 rows x 32 columns]
               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit  304.0   110.0
1                          0       2  ...    No Deposit  304.0   110.0
2                          1       1  ...    No Deposit  304.0   110.0
3                          1       1  ...    No Deposit  304.0   110.0
4                          2       2  ...    No Deposit  240.0   110.0
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0     NaN
119386                     5       3  ...    No Deposit    9.0     NaN
119387                     5       2  ...    No Deposit    9.0     NaN
119388                     5       2  ...    No Deposit   89.0     NaN
119389                     7       2  ...    No Deposit    9.0     NaN

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out                7/1/2015
1                Check-Out                7/1/2015
2                Check-Out                7/2/2015
3                Check-Out                7/2/2015
4                Check-Out                7/3/2015
...                    ...                     ...
119385           Check-Out                9/6/2017
119386           Check-Out                9/7/2017
119387           Check-Out                9/7/2017
119388           Check-Out                9/7/2017
119389           Check-Out                9/7/2017

[119390 rows x 32 columns]

In [11]:
#Interpolate missing values.
df_interpolated = df.interpolate()
print(df_interpolated)

C:\Users\DELL LATITUDE 7490\AppData\Local\Temp\ipykernel_25240\718332537.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN     NaN
1                          0       2  ...    No Deposit    NaN     NaN
2                          1       1  ...    No Deposit    NaN     NaN
3                          1       1  ...    No Deposit  304.0     NaN
4                          2       2  ...    No Deposit  240.0     NaN
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0   485.0
119386                     5       3  ...    No Deposit    9.0   485.0
119387                     5       2  ...    No Deposit    9.0   485.0
119388                     5       2  ...    No Deposit   89.0   485.0
119389                     7       2  ...    No Deposit    9.0   485.0

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out                7/1/2015
1                Check-Out                7/1/2015
2                Check-Out                7/2/2015
3                Check-Out                7/2/2015
4                Check-Out                7/3/2015
...                    ...                     ...
119385           Check-Out                9/6/2017
119386           Check-Out                9/7/2017
119387           Check-Out                9/7/2017
119388           Check-Out                9/7/2017
119389           Check-Out                9/7/2017

[119390 rows x 32 columns]

In [13]:
#Convert a column to a different data type.
df['arrival_date_week_number'] = df['arrival_date_week_number'].astype('float')
print(df.dtypes)

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number          float64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [14]:
#Apply a function to transform the values of a column.
df['adults'] = df['adults'].apply(lambda x: x * 2)
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                      27.0                          1
1                      27.0                          1
2                      27.0                          1
3                      27.0                          1
4                      27.0                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       4  ...    No Deposit
1                        0                     0       4  ...    No Deposit
2                        0                     1       2  ...    No Deposit
3                        0                     1       2  ...    No Deposit
4                        0                     2       4  ...    No Deposit

   agent company days_in_waiting_list customer_type   adr  \
0    NaN     NaN                    0     Transient   0.0
1    NaN     NaN                    0     Transient   0.0
2    NaN     NaN                    0     Transient  75.0
3  304.0     NaN                    0     Transient  75.0
4  240.0     NaN                    0     Transient  98.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out
1                            0                          0           Check-Out
2                            0                          0           Check-Out
3                            0                          0           Check-Out
4                            0                          1           Check-Out

  reservation_status_date
0                7/1/2015
1                7/1/2015
2                7/2/2015
3                7/2/2015
4                7/3/2015

[5 rows x 32 columns]

In [17]:
#Normalize a column using Min-Max scalin
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['lead_time'] = scaler.fit_transform(df[['lead_time']])
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015               July
1  Resort Hotel            0   1.000000               2015               July
2  Resort Hotel            0   0.009498               2015               July
3  Resort Hotel            0   0.017639               2015               July
4  Resort Hotel            0   0.018996               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                      27.0                          1
1                      27.0                          1
2                      27.0                          1
3                      27.0                          1
4                      27.0                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  agent  company  \
0                        0                     0       4  ...    NaN      NaN
1                        0                     0       4  ...    NaN      NaN
2                        0                     1       2  ...    NaN      NaN
3                        0                     1       2  ...  304.0      NaN
4                        0                     2       4  ...  240.0      NaN

  days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                    0     Transient   0.0                           0
1                    0     Transient   0.0                           0
2                    0     Transient  75.0                           0
3                    0     Transient  75.0                           0
4                    0     Transient  98.0                           0

   total_of_special_requests  reservation_status  reservation_status_date  \
0                          0           Check-Out                 7/1/2015
1                          0           Check-Out                 7/1/2015
2                          0           Check-Out                 7/2/2015
3                          0           Check-Out                 7/2/2015
4                          1           Check-Out                 7/3/2015

  normalized_column
0          0.464043
1          1.000000
2          0.009498
3          0.017639
4          0.018996

[5 rows x 33 columns]

In [18]:
#Standardize a column (z-score normalization).
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df['arrival_date_week_number'] = scaler.fit_transform(df[['arrival_date_week_number']])
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015               July
1  Resort Hotel            0   1.000000               2015               July
2  Resort Hotel            0   0.009498               2015               July
3  Resort Hotel            0   0.017639               2015               July
4  Resort Hotel            0   0.018996               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  agent  company  \
0                        0                     0       4  ...    NaN      NaN
1                        0                     0       4  ...    NaN      NaN
2                        0                     1       2  ...    NaN      NaN
3                        0                     1       2  ...  304.0      NaN
4                        0                     2       4  ...  240.0      NaN

  days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                    0     Transient   0.0                           0
1                    0     Transient   0.0                           0
2                    0     Transient  75.0                           0
3                    0     Transient  75.0                           0
4                    0     Transient  98.0                           0

   total_of_special_requests  reservation_status  reservation_status_date  \
0                          0           Check-Out                 7/1/2015
1                          0           Check-Out                 7/1/2015
2                          0           Check-Out                 7/2/2015
3                          0           Check-Out                 7/2/2015
4                          1           Check-Out                 7/3/2015

  normalized_column
0          0.464043
1          1.000000
2          0.009498
3          0.017639
4          0.018996

[5 rows x 33 columns]

In [19]:
#Identify duplicate rows in the DataFrame.
duplicates = df.duplicated()
print(duplicates)

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Length: 119390, dtype: bool

In [20]:
#Drop duplicate rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0   0.464043               2015
1       Resort Hotel            0   1.000000               2015
2       Resort Hotel            0   0.009498               2015
3       Resort Hotel            0   0.017639               2015
4       Resort Hotel            0   0.018996               2015
...              ...          ...        ...                ...
119385    City Hotel            0   0.031208               2017
119386    City Hotel            0   0.138399               2017
119387    City Hotel            0   0.046133               2017
119388    City Hotel            0   0.147897               2017
119389    City Hotel            0   0.278155               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                 -0.012141
1                    July                 -0.012141
2                    July                 -0.012141
3                    July                 -0.012141
4                    July                 -0.012141
...                   ...                       ...
119385             August                  0.575875
119386             August                  0.575875
119387             August                  0.575875
119388             August                  0.575875
119389             August                  0.575875

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  agent  company  \
0                          0       4  ...    NaN      NaN
1                          0       4  ...    NaN      NaN
2                          1       2  ...    NaN      NaN
3                          1       2  ...  304.0      NaN
4                          2       4  ...  240.0      NaN
...                      ...     ...  ...    ...      ...
119385                     5       4  ...  394.0      NaN
119386                     5       6  ...    9.0      NaN
119387                     5       4  ...    9.0      NaN
119388                     5       4  ...   89.0      NaN
119389                     7       4  ...    9.0      NaN

       days_in_waiting_list customer_type     adr required_car_parking_spaces  \
0                         0     Transient    0.00                           0
1                         0     Transient    0.00                           0
2                         0     Transient   75.00                           0
3                         0     Transient   75.00                           0
4                         0     Transient   98.00                           0
...                     ...           ...     ...                         ...
119385                    0     Transient   96.14                           0
119386                    0     Transient  225.43                           0
119387                    0     Transient  157.71                           0
119388                    0     Transient  104.40                           0
119389                    0     Transient  151.20                           0

        total_of_special_requests  reservation_status  \
0                               0           Check-Out
1                               0           Check-Out
2                               0           Check-Out
3                               0           Check-Out
4                               1           Check-Out
...                           ...                 ...
119385                          0           Check-Out
119386                          2           Check-Out
119387                          4           Check-Out
119388                          0           Check-Out
119389                          2           Check-Out

        reservation_status_date normalized_column
0                      7/1/2015          0.464043
1                      7/1/2015          1.000000
2                      7/2/2015          0.009498
3                      7/2/2015          0.017639
4                      7/3/2015          0.018996
...                         ...               ...
119385                 9/6/2017          0.031208
119386                 9/7/2017          0.138399
119387                 9/7/2017          0.046133
119388                 9/7/2017          0.147897
119389                 9/7/2017          0.278155

[87396 rows x 33 columns]

In [ ]:
#Drop duplicate rows based on specific columns.
df_no_duplicates_specific = df.drop_duplicates(subset=['column1', 'column2'])
print(df_no_duplicates_specific)

In [21]:
#Convert all string values in a column to lowercase.
df['country'] = df['country'].str.lower()
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015               July
1  Resort Hotel            0   1.000000               2015               July
2  Resort Hotel            0   0.009498               2015               July
3  Resort Hotel            0   0.017639               2015               July
4  Resort Hotel            0   0.018996               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  agent  company  \
0                        0                     0       4  ...    NaN      NaN
1                        0                     0       4  ...    NaN      NaN
2                        0                     1       2  ...    NaN      NaN
3                        0                     1       2  ...  304.0      NaN
4                        0                     2       4  ...  240.0      NaN

  days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                    0     Transient   0.0                           0
1                    0     Transient   0.0                           0
2                    0     Transient  75.0                           0
3                    0     Transient  75.0                           0
4                    0     Transient  98.0                           0

   total_of_special_requests  reservation_status  reservation_status_date  \
0                          0           Check-Out                 7/1/2015
1                          0           Check-Out                 7/1/2015
2                          0           Check-Out                 7/2/2015
3                          0           Check-Out                 7/2/2015
4                          1           Check-Out                 7/3/2015

  normalized_column
0          0.464043
1          1.000000
2          0.009498
3          0.017639
4          0.018996

[5 rows x 33 columns]

In [22]:
#Remove leading and trailing spaces from string values in a column.
df['deposit_type'] = df['deposit_type'].str.strip()
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015               July
1  Resort Hotel            0   1.000000               2015               July
2  Resort Hotel            0   0.009498               2015               July
3  Resort Hotel            0   0.017639               2015               July
4  Resort Hotel            0   0.018996               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  agent  company  \
0                        0                     0       4  ...    NaN      NaN
1                        0                     0       4  ...    NaN      NaN
2                        0                     1       2  ...    NaN      NaN
3                        0                     1       2  ...  304.0      NaN
4                        0                     2       4  ...  240.0      NaN

  days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                    0     Transient   0.0                           0
1                    0     Transient   0.0                           0
2                    0     Transient  75.0                           0
3                    0     Transient  75.0                           0
4                    0     Transient  98.0                           0

   total_of_special_requests  reservation_status  reservation_status_date  \
0                          0           Check-Out                 7/1/2015
1                          0           Check-Out                 7/1/2015
2                          0           Check-Out                 7/2/2015
3                          0           Check-Out                 7/2/2015
4                          1           Check-Out                 7/3/2015

  normalized_column
0          0.464043
1          1.000000
2          0.009498
3          0.017639
4          0.018996

[5 rows x 33 columns]

In [24]:
#Replace a specific substring in a column with another substring.
df['arrival_date_month'] = df['arrival_date_month'].str.replace('July', 'August')
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015             August
1  Resort Hotel            0   1.000000               2015             August
2  Resort Hotel            0   0.009498               2015             August
3  Resort Hotel            0   0.017639               2015             August
4  Resort Hotel            0   0.018996               2015             August

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  agent  company  \
0                        0                     0       4  ...    NaN      NaN
1                        0                     0       4  ...    NaN      NaN
2                        0                     1       2  ...    NaN      NaN
3                        0                     1       2  ...  304.0      NaN
4                        0                     2       4  ...  240.0      NaN

  days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                    0     Transient   0.0                           0
1                    0     Transient   0.0                           0
2                    0     Transient  75.0                           0
3                    0     Transient  75.0                           0
4                    0     Transient  98.0                           0

   total_of_special_requests  reservation_status  reservation_status_date  \
0                          0           Check-Out                 7/1/2015
1                          0           Check-Out                 7/1/2015
2                          0           Check-Out                 7/2/2015
3                          0           Check-Out                 7/2/2015
4                          1           Check-Out                 7/3/2015

  normalized_column
0          0.464043
1          1.000000
2          0.009498
3          0.017639
4          0.018996

[5 rows x 33 columns]

In [25]:
#Extract a substring from each value in a column.
df['C'] = df['reservation_status'].str[0:5]
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015             August
1  Resort Hotel            0   1.000000               2015             August
2  Resort Hotel            0   0.009498               2015             August
3  Resort Hotel            0   0.017639               2015             August
4  Resort Hotel            0   0.018996               2015             August

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  company  \
0                        0                     0       4  ...      NaN
1                        0                     0       4  ...      NaN
2                        0                     1       2  ...      NaN
3                        0                     1       2  ...      NaN
4                        0                     2       4  ...      NaN

   days_in_waiting_list customer_type   adr required_car_parking_spaces  \
0                     0     Transient   0.0                           0
1                     0     Transient   0.0                           0
2                     0     Transient  75.0                           0
3                     0     Transient  75.0                           0
4                     0     Transient  98.0                           0

  total_of_special_requests  reservation_status  reservation_status_date  \
0                         0           Check-Out                 7/1/2015
1                         0           Check-Out                 7/1/2015
2                         0           Check-Out                 7/2/2015
3                         0           Check-Out                 7/2/2015
4                         1           Check-Out                 7/3/2015

   normalized_column      C
0           0.464043  Check
1           1.000000  Check
2           0.009498  Check
3           0.017639  Check
4           0.018996  Check

[5 rows x 34 columns]

In [26]:
#Convert a column to datetime format.
df['date_column'] = pd.to_datetime(df['arrival_date_year'])
print(df.dtypes)

hotel                                     object
is_canceled                                int64
lead_time                                float64
arrival_date_year                          int64
arrival_date_month                        object
arrival_date_week_number                 float64
arrival_date_day_of_month                  int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
company                                  float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date                   object
normalized_column                        float64
C                                         object
date_column                       datetime64[ns]
dtype: object

In [27]:
#Extract year, month, and day from a datetime column.
df['year'] = df['date_column'].dt.year
df['month'] = df['date_column'].dt.month
df['day'] = df['date_column'].dt.day
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015             August
1  Resort Hotel            0   1.000000               2015             August
2  Resort Hotel            0   0.009498               2015             August
3  Resort Hotel            0   0.017639               2015             August
4  Resort Hotel            0   0.018996               2015             August

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                        0                     0       4  ...
1                        0                     0       4  ...
2                        0                     1       2  ...
3                        0                     1       2  ...
4                        0                     2       4  ...

   required_car_parking_spaces  total_of_special_requests reservation_status  \
0                            0                          0          Check-Out
1                            0                          0          Check-Out
2                            0                          0          Check-Out
3                            0                          0          Check-Out
4                            0                          1          Check-Out

  reservation_status_date normalized_column      C  \
0                7/1/2015          0.464043  Check
1                7/1/2015          1.000000  Check
2                7/2/2015          0.009498  Check
3                7/2/2015          0.017639  Check
4                7/3/2015          0.018996  Check

                    date_column  year  month day
0 1970-01-01 00:00:00.000002015  1970      1   1
1 1970-01-01 00:00:00.000002015  1970      1   1
2 1970-01-01 00:00:00.000002015  1970      1   1
3 1970-01-01 00:00:00.000002015  1970      1   1
4 1970-01-01 00:00:00.000002015  1970      1   1

[5 rows x 38 columns]

In [28]:
#Filter rows based on a date range.
start_date = '7-1-2015'
end_date = '7-2-2015'
mask = (df['reservation_status_date'] >= start_date) & (df['reservation_status_date'] <= end_date)
df_filtered = df.loc[mask]
print(df_filtered)

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, normalized_column, C, date_column, year, month, day]
Index: []

[0 rows x 38 columns]

In [29]:
#Convert a categorical column to numerical using one-hot encoding.
df_one_hot_encoded = pd.get_dummies(df, columns=['market_segment'])
print(df_one_hot_encoded)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0   0.464043               2015
1       Resort Hotel            0   1.000000               2015
2       Resort Hotel            0   0.009498               2015
3       Resort Hotel            0   0.017639               2015
4       Resort Hotel            0   0.018996               2015
...              ...          ...        ...                ...
119385    City Hotel            0   0.031208               2017
119386    City Hotel            0   0.138399               2017
119387    City Hotel            0   0.046133               2017
119388    City Hotel            0   0.147897               2017
119389    City Hotel            0   0.278155               2017

       arrival_date_month  arrival_date_week_number  \
0                  August                 -0.012141
1                  August                 -0.012141
2                  August                 -0.012141
3                  August                 -0.012141
4                  August                 -0.012141
...                   ...                       ...
119385             August                  0.575875
119386             August                  0.575875
119387             August                  0.575875
119388             August                  0.575875
119389             August                  0.575875

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  month  day market_segment_Aviation  \
0                          0       4  ...      1    1                   False
1                          0       4  ...      1    1                   False
2                          1       2  ...      1    1                   False
3                          1       2  ...      1    1                   False
4                          2       4  ...      1    1                   False
...                      ...     ...  ...    ...  ...                     ...
119385                     5       4  ...      1    1                   False
119386                     5       6  ...      1    1                   False
119387                     5       4  ...      1    1                   False
119388                     5       4  ...      1    1                   False
119389                     7       4  ...      1    1                   False

       market_segment_Complementary market_segment_Corporate  \
0                             False                    False
1                             False                    False
2                             False                    False
3                             False                     True
4                             False                    False
...                             ...                      ...
119385                        False                    False
119386                        False                    False
119387                        False                    False
119388                        False                    False
119389                        False                    False

        market_segment_Direct  market_segment_Groups  \
0                        True                  False
1                        True                  False
2                        True                  False
3                       False                  False
4                       False                  False
...                       ...                    ...
119385                  False                  False
119386                  False                  False
119387                  False                  False
119388                  False                  False
119389                  False                  False

        market_segment_Offline TA/TO market_segment_Online TA  \
0                              False                    False
1                              False                    False
2                              False                    False
3                              False                    False
4                              False                     True
...                              ...                      ...
119385                          True                    False
119386                         False                     True
119387                         False                     True
119388                         False                     True
119389                         False                     True

       market_segment_Undefined
0                         False
1                         False
2                         False
3                         False
4                         False
...                         ...
119385                    False
119386                    False
119387                    False
119388                    False
119389                    False

[119390 rows x 45 columns]

In [30]:
#Convert a categorical column to numerical using label encoding.
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['market_segment'] = le.fit_transform(df['market_segment'])
print(df.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0   0.464043               2015             August
1  Resort Hotel            0   1.000000               2015             August
2  Resort Hotel            0   0.009498               2015             August
3  Resort Hotel            0   0.017639               2015             August
4  Resort Hotel            0   0.018996               2015             August

   arrival_date_week_number  arrival_date_day_of_month  \
0                 -0.012141                          1
1                 -0.012141                          1
2                 -0.012141                          1
3                 -0.012141                          1
4                 -0.012141                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
0                        0                     0       4  ...
1                        0                     0       4  ...
2                        0                     1       2  ...
3                        0                     1       2  ...
4                        0                     2       4  ...

   required_car_parking_spaces  total_of_special_requests reservation_status  \
0                            0                          0          Check-Out
1                            0                          0          Check-Out
2                            0                          0          Check-Out
3                            0                          0          Check-Out
4                            0                          1          Check-Out

  reservation_status_date  normalized_column      C  \
0                7/1/2015           0.464043  Check
1                7/1/2015           1.000000  Check
2                7/2/2015           0.009498  Check
3                7/2/2015           0.017639  Check
4                7/3/2015           0.018996  Check

                    date_column  year  month day
0 1970-01-01 00:00:00.000002015  1970      1   1
1 1970-01-01 00:00:00.000002015  1970      1   1
2 1970-01-01 00:00:00.000002015  1970      1   1
3 1970-01-01 00:00:00.000002015  1970      1   1
4 1970-01-01 00:00:00.000002015  1970      1   1

[5 rows x 38 columns]

In [ ]:
#Group values in a categorical column and create a new column with grouped categories.
df['grouped_column'] = df['categorical_column'].map({'category1': 'group1', 'category2': 'group2'})
print(df.head())

In [ ]:
#Merge two DataFrames based on a common column.
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

In [ ]:
#Concatenate two DataFrames vertically.
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'A': [4, 5, 6]})
df_vertical_concat = pd.concat([df1, df2], axis=0)
print(df_vertical_concat)

In [ ]:
#Concatenate two DataFrames horizontally.
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})
df_horizontal_concat = pd.concat([df1, df2], axis=1)
print(df_horizontal_concat)

In [ ]:
#Create a new column based on existing columns.
df['new_column'] = df['column1'] + df['column2']
print(df.head())

In [ ]:
#discretize a continuous column into bins.
df['binned_column'] = pd.cut(df['continuous_column'], bins=5)
print(df.head())

In [ ]:
#Create polynomial features from existing numerical columns.
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
df_poly_features = poly.fit_transform(df[['numerical_column1', 'numerical_column2']])
print(df_poly_features)