In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('customers-100.csv')

In [2]:
# Display the first and last five rows of the DataFrame
print("First five rows:")
print(df.head())
print("\nLast five rows:")
print(df.tail())

First five rows:
   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

Last five rows:
    Index      Customer Id First Name Last Name                Company  \
95     96  cb8E23e48d22Eae       Karl     Greer              Carey LLC
96     97  CeD220bdAaCfaDf       Lynn  Atkinson  Ware, Burns and Oneal
97     98  28CDbC0dFe4b1Db       Fred    Guerra          Schmitt-Jones
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer     Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence    Haynes     Le, Nash and Cross

               City          Country               Phone 1  \
95     East Richard           Guyana   (188)169-1674x58692
96     New Bradview        Sri Lanka       +1-846-706-2218
97       Ortegaland  Solomon Islands  +1-753-067-8419x7170
98  Lake Elijahview            Aruba         (530)311-9786
99        Judymouth         Honduras         (753)813-6941

                   Phone 2                           Email Subscription Date  \
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

In [3]:
# Set a specific column as the index of the DataFrame
df.set_index('Email', inplace=True)

In [4]:
# Select a specific column and display its values
print(df['First Name'])

Specific column values:
Email
zunigavanessa@smith.info            Sheryl
vmata@colon.com                    Preston
beckycarr@hogan.com                    Roy
stanleyblackwell@benson.org          Linda
colinalvarado@miles.net             Joanna
                                    ...
hhart@jensen.com                      Karl
vkemp@ferrell.com                     Lynn
swagner@kane.org                      Fred
mccarthystephen@horn-green.biz      Yvonne
colleen91@faulkner.biz            Clarence
Name: First Name, Length: 100, dtype: object

In [5]:
# Select multiple columns and display the resulting DataFrame
print("\nMultiple columns:")
print(df[['First Name', 'Country']])

Multiple columns:
                               First Name                     Country
Email
zunigavanessa@smith.info           Sheryl                       Chile
vmata@colon.com                   Preston                    Djibouti
beckycarr@hogan.com                   Roy         Antigua and Barbuda
stanleyblackwell@benson.org         Linda          Dominican Republic
colinalvarado@miles.net            Joanna  Slovakia (Slovak Republic)
...                                   ...                         ...
hhart@jensen.com                     Karl                      Guyana
vkemp@ferrell.com                    Lynn                   Sri Lanka
swagner@kane.org                     Fred             Solomon Islands
mccarthystephen@horn-green.biz     Yvonne                       Aruba
colleen91@faulkner.biz           Clarence                    Honduras

[100 rows x 2 columns]

In [23]:
# Select a subset of rows using integer indices with .iloc
print(df.iloc[0:6])

                             Index      Customer Id First Name Last Name  \
Email
zunigavanessa@smith.info         1  DD37Cf93aecA6Dc     Sheryl    Baxter
vmata@colon.com                  2  1Ef7b82A4CAAD10    Preston    Lozano
beckycarr@hogan.com              3  6F94879bDAfE5a6        Roy     Berry
stanleyblackwell@benson.org      4  5Cef8BFA16c5e3c      Linda     Olsen
colinalvarado@miles.net          5  053d585Ab6b3159     Joanna    Bender
louis27@gilbert.com              6  2d08FB17EE273F4      Aimee     Downs

                                                     Company  \
Email
zunigavanessa@smith.info                     Rasmussen Group
vmata@colon.com                                  Vega-Gentry
beckycarr@hogan.com                            Murillo-Perry
stanleyblackwell@benson.org  Dominguez, Mcmillan and Donovan
colinalvarado@miles.net             Martin, Lang and Andrade
louis27@gilbert.com                             Steele Group

                                          City                     Country  \
Email
zunigavanessa@smith.info          East Leonard                       Chile
vmata@colon.com              East Jimmychester                    Djibouti
beckycarr@hogan.com              Isabelborough         Antigua and Barbuda
stanleyblackwell@benson.org         Bensonview          Dominican Republic
colinalvarado@miles.net         West Priscilla  Slovakia (Slovak Republic)
louis27@gilbert.com              Chavezborough      Bosnia and Herzegovina

                                            Phone 1                Phone 2  \
Email
zunigavanessa@smith.info               229.077.5154       397.884.0519x718
vmata@colon.com                          5153435776       686-620-1820x944
beckycarr@hogan.com                 +1-539-402-0259    (496)978-3969x58947
stanleyblackwell@benson.org  001-808-617-6467x12895        +1-813-324-8756
colinalvarado@miles.net      001-234-203-0635x76146  001-199-446-3860x3486
louis27@gilbert.com             (283)437-3886x88321           999-728-1637

                            Subscription Date                      Website  \
Email
zunigavanessa@smith.info           2020-08-24   http://www.stephenson.com/
vmata@colon.com                    2021-04-23        http://www.hobbs.com/
beckycarr@hogan.com                2020-03-25     http://www.lawrence.com/
stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
colinalvarado@miles.net            2021-04-17  https://goodwin-ingram.com/
louis27@gilbert.com                2020-02-25       http://www.berger.net/

                             Subscription Year
Email
zunigavanessa@smith.info                  2020
vmata@colon.com                           2021
beckycarr@hogan.com                       2020
stanleyblackwell@benson.org               2020
colinalvarado@miles.net                   2021
louis27@gilbert.com                       2020

In [7]:
#Select a subset of rows and columns using the .iloc method.
print(df.iloc[0:6, 2:5])

                            First Name Last Name  \
Email
zunigavanessa@smith.info        Sheryl    Baxter
vmata@colon.com                Preston    Lozano
beckycarr@hogan.com                Roy     Berry
stanleyblackwell@benson.org      Linda     Olsen
colinalvarado@miles.net         Joanna    Bender
louis27@gilbert.com              Aimee     Downs

                                                     Company
Email
zunigavanessa@smith.info                     Rasmussen Group
vmata@colon.com                                  Vega-Gentry
beckycarr@hogan.com                            Murillo-Perry
stanleyblackwell@benson.org  Dominguez, Mcmillan and Donovan
colinalvarado@miles.net             Martin, Lang and Andrade
louis27@gilbert.com                             Steele Group

In [8]:
# Filter rows based on a condition
print(df[df['Country'] == 'Cyprus'])

                         Index      Customer Id First Name Last Name  \
Email
mariokhan@ryan-pope.org      9  C2dE4dEEc489ae0     Sheryl    Meyers

                                Company          City Country  \
Email
mariokhan@ryan-pope.org  Browning-Simon  Robersonstad  Cyprus

                                   Phone 1              Phone 2  \
Email
mariokhan@ryan-pope.org  854-138-4911x5772  +1-448-910-2276x729

                        Subscription Date                   Website
Email
mariokhan@ryan-pope.org        2020-01-13  https://www.bullock.net/

In [12]:
# Group the DataFrame by a specific column and calculate the mean of each group
# Adding a hypothetical numerical column 'Subscription Year' for demonstration
df['Subscription Year'] = pd.to_datetime(df['Subscription Date']).dt.year
group_by_country_mean = df.groupby('Country')['Subscription Year'].mean()
print(group_by_country_mean)

Country
Albania                2021.0
Algeria                2021.0
Anguilla               2021.0
Antigua and Barbuda    2020.0
Aruba                  2021.0
                        ...
Uzbekistan             2020.0
Vietnam                2020.0
Western Sahara         2021.0
Yemen                  2021.0
Zimbabwe               2020.5
Name: Subscription Year, Length: 85, dtype: float64

In [13]:
#Group the DataFrame by multiple columns and calculate the sum of each group
group_by_country_city_sum = df.groupby(['Country', 'City'])['Subscription Year'].sum()
print(group_by_country_city_sum)

Country              City
Albania              Bryanville           2021
Algeria              South Jasmine        2021
Anguilla             South Lonnie         2021
Antigua and Barbuda  Isabelborough        2020
Aruba                Lake Elijahview      2021
                                          ...
Vietnam              East Andrea          2020
Western Sahara       West Adriennestad    2021
Yemen                Thomasfurt           2021
Zimbabwe             East Summerstad      2020
                     West Samuel          2021
Name: Subscription Year, Length: 100, dtype: int32

In [15]:
#Use the agg method to apply multiple aggregation functions to grouped data
agg_functions = df.groupby('Country')['Subscription Year'].agg(['mean', 'count'])
print(agg_functions)

                       mean  count
Country
Albania              2021.0      1
Algeria              2021.0      1
Anguilla             2021.0      1
Antigua and Barbuda  2020.0      1
Aruba                2021.0      1
...                     ...    ...
Uzbekistan           2020.0      1
Vietnam              2020.0      1
Western Sahara       2021.0      1
Yemen                2021.0      1
Zimbabwe             2020.5      2

[85 rows x 2 columns]

In [16]:
# 4. Calculate the size of each group
group_size = df.groupby('Country').size()
print(group_size)

Country
Albania                1
Algeria                1
Anguilla               1
Antigua and Barbuda    1
Aruba                  1
                      ..
Uzbekistan             1
Vietnam                1
Western Sahara         1
Yemen                  1
Zimbabwe               2
Length: 85, dtype: int64

In [17]:
# 5. Select rows based on multiple conditions
selected_rows = df[(df['Country'] == 'Chile') & (df['City'].str.contains('East'))]
print(selected_rows)

                          Index      Customer Id First Name Last Name  \
Email
zunigavanessa@smith.info      1  DD37Cf93aecA6Dc     Sheryl    Baxter

                                  Company          City Country       Phone 1  \
Email
zunigavanessa@smith.info  Rasmussen Group  East Leonard   Chile  229.077.5154

                                   Phone 2 Subscription Date  \
Email
zunigavanessa@smith.info  397.884.0519x718        2020-08-24

                                             Website  Subscription Year
Email
zunigavanessa@smith.info  http://www.stephenson.com/               2020

In [18]:
#Use the query method to filter rows
filtered_rows_query = df.query('Country == "Chile"')
print(filtered_rows_query)

                          Index      Customer Id First Name Last Name  \
Email
zunigavanessa@smith.info      1  DD37Cf93aecA6Dc     Sheryl    Baxter

                                  Company          City Country       Phone 1  \
Email
zunigavanessa@smith.info  Rasmussen Group  East Leonard   Chile  229.077.5154

                                   Phone 2 Subscription Date  \
Email
zunigavanessa@smith.info  397.884.0519x718        2020-08-24

                                             Website  Subscription Year
Email
zunigavanessa@smith.info  http://www.stephenson.com/               2020

In [19]:
#Use isin to filter rows based on a list of values
filtered_rows_isin = df[df['Country'].isin(['Chile', 'Djibouti'])]
print(filtered_rows_isin)

                          Index      Customer Id First Name Last Name  \
Email
zunigavanessa@smith.info      1  DD37Cf93aecA6Dc     Sheryl    Baxter
vmata@colon.com               2  1Ef7b82A4CAAD10    Preston    Lozano

                                  Company               City   Country  \
Email
zunigavanessa@smith.info  Rasmussen Group       East Leonard     Chile
vmata@colon.com               Vega-Gentry  East Jimmychester  Djibouti

                               Phone 1           Phone 2 Subscription Date  \
Email
zunigavanessa@smith.info  229.077.5154  397.884.0519x718        2020-08-24
vmata@colon.com             5153435776  686-620-1820x944        2021-04-23

                                             Website  Subscription Year
Email
zunigavanessa@smith.info  http://www.stephenson.com/               2020
vmata@colon.com                http://www.hobbs.com/               2021

In [22]:
#Select specific columns and rename them
selected_columns_renamed = df[['First Name', 'Last Name', 'Country']].rename(
    columns={'First Name': 'FirstName', 'Last Name': 'LastName', 'Country': 'CountryName'}
)

print(selected_columns_renamed.head())

                            FirstName LastName                 CountryName
Email
zunigavanessa@smith.info       Sheryl   Baxter                       Chile
vmata@colon.com               Preston   Lozano                    Djibouti
beckycarr@hogan.com               Roy    Berry         Antigua and Barbuda
stanleyblackwell@benson.org     Linda    Olsen          Dominican Republic
colinalvarado@miles.net        Joanna   Bender  Slovakia (Slovak Republic)