In [4]:
#1. Create a Pandas Series from a Python list, NumPy array, and a dictionary
import pandas as pd
import numpy as np

# From a list
list_data = [10, 20, 30]
series_from_list = pd.Series(list_data)
print("Series from list:")
print(series_from_list)

# From a numpy array
array_data = np.array([40, 50, 60])
series_from_array = pd.Series(array_data)
print("\nSeries from numpy array:")
print(series_from_array)

# From a dictionary
dict_data = {'a': 70, 'b': 80, 'c': 90}
series_from_dict = pd.Series(dict_data)
print("\nSeries from dictionary:")
print(series_from_dict)

Series from list:
0    10
1    20
2    30
dtype: int64

Series from numpy array:
0    40
1    50
2    60
dtype: int32

Series from dictionary:
a    70
b    80
c    90
dtype: int64

In [5]:
#Assign a custom index to the Series.
custom_index_series = pd.Series(list_data, index=['x', 'y', 'z'])
print("\nSeries with custom index:")
print(custom_index_series)

Series with custom index:
x    10
y    20
z    30
dtype: int64

In [6]:
#Perform basic arithmetic operations on Series.
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])

# Addition
print("\nAddition:")
print(series1 + series2)

# Subtraction
print("\nSubtraction:")
print(series1 - series2)

# Multiplication
print("\nMultiplication:")
print(series1 * series2)

# Division
print("\nDivision:")
print(series1 / series2)

Addition:
0    5
1    7
2    9
dtype: int64

Subtraction:
0   -3
1   -3
2   -3
dtype: int64

Multiplication:
0     4
1    10
2    18
dtype: int64

Division:
0    0.25
1    0.40
2    0.50
dtype: float64

In [7]:
#Access elements using index labels and positions.
print("\nAccessing by label (x):", custom_index_series['x'])
print("Accessing by position (0):", custom_index_series.iloc[0])

Accessing by label (x): 10
Accessing by position (0): 10

In [8]:
# Filter the Series to include only values greater than a specific threshold.
filtered_series = custom_index_series[custom_index_series > 15]
print("\nFiltered Series (values > 15):")
print(filtered_series)

Filtered Series (values > 15):
y    20
z    30
dtype: int64

In [9]:
#Create a DataFrame from a dictionary of lists.
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df_from_dict = pd.DataFrame(data_dict)
print("\nDataFrame from dictionary of lists:")
print(df_from_dict)

DataFrame from dictionary of lists:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [10]:
#Create a DataFrame from a numpy array, specifying column and index names
array_data = np.array([[1, 2], [3, 4], [5, 6]])
df_from_array = pd.DataFrame(array_data, columns=['Column1', 'Column2'], index=['Row1', 'Row2', 'Row3'])
print("\nDataFrame from numpy array:")
print(df_from_array)

DataFrame from numpy array:
      Column1  Column2
Row1        1        2
Row2        3        4
Row3        5        6

In [11]:
#Load a DataFrame from a CSV file.
import pandas as pd
df = pd.read_csv('customers-100.csv')

In [10]:
# Display the first and last five rows of the DataFrame
print("First five rows:")
print(df.head())

First five rows:
   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

In [12]:
print("\nLast five rows:")
print(df.tail())

Last five rows:
    Index      Customer Id First Name Last Name                Company  \
95     96  cb8E23e48d22Eae       Karl     Greer              Carey LLC
96     97  CeD220bdAaCfaDf       Lynn  Atkinson  Ware, Burns and Oneal
97     98  28CDbC0dFe4b1Db       Fred    Guerra          Schmitt-Jones
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer     Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence    Haynes     Le, Nash and Cross

               City          Country               Phone 1  \
95     East Richard           Guyana   (188)169-1674x58692
96     New Bradview        Sri Lanka       +1-846-706-2218
97       Ortegaland  Solomon Islands  +1-753-067-8419x7170
98  Lake Elijahview            Aruba         (530)311-9786
99        Judymouth         Honduras         (753)813-6941

                   Phone 2                           Email Subscription Date  \
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

In [13]:

# Get a summary of the DataFrame including the mean, median, and standard deviation of numeric columns
print("\nSummary of DataFrame:")
print(df.describe())

Summary of DataFrame:
            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [14]:
# Extract a specific column as a Series 
name_series = df['First Name']
print(name_series)

0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: First Name, Length: 100, dtype: object

In [15]:
#Filter rows based on column values.
filtered_df = df[df['Country'] == 'Bulgaria']
print("\nFiltered DataFrame (Country == Bulgaria):")
print(filtered_df)

Filtered DataFrame (Country == Bulgaria):
    Index      Customer Id First Name Last Name                       Company  \
7       8  0e04AFde9f225dE      Brett    Mullen  Sanford, Davenport and Giles
43     44  D3fC11A9C235Dc6       Luis     Greer                     Cross PLC

          City   Country               Phone 1            Phone 2  \
7      Kimport  Bulgaria  001-583-352-7197x297   001-333-145-0369
43  North Drew  Bulgaria  001-336-025-6849x701  684.698.2911x6092

                             Email Subscription Date  \
7                  asnow@colon.com        2021-04-12
43  bstuart@williamson-mcclure.com        2022-05-15

                          Website
7     https://hammond-ramsey.com/
43  https://fletcher-nielsen.com/

In [17]:
# Select rows based on multiple conditions 
multi_condition_df = df[(df['Last Name'] ==  'Mullen') & (df['Country'] == 'Bulgaria')]
print(multi_condition_df)

   Index      Customer Id First Name Last Name                       Company  \
7      8  0e04AFde9f225dE      Brett    Mullen  Sanford, Davenport and Giles

      City   Country               Phone 1           Phone 2            Email  \
7  Kimport  Bulgaria  001-583-352-7197x297  001-333-145-0369  asnow@colon.com

  Subscription Date                      Website
7        2021-04-12  https://hammond-ramsey.com/

In [18]:
# Add a new column to the DataFrame 
df['State'] = 'Alaska'  
print(df)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website   State
0          http://www.stephenson.com/  Alaska
1               http://www.hobbs.com/  Alaska
2            http://www.lawrence.com/  Alaska
3          http://www.good-lyons.com/  Alaska
4         https://goodwin-ingram.com/  Alaska
..                                ...     ...
95            http://hayes-perez.com/  Alaska
96         https://novak-allison.com/  Alaska
97              https://www.ross.com/  Alaska
98               http://watkins.info/  Alaska
99  http://www.hatfield-saunders.net/  Alaska

[100 rows x 13 columns]

In [19]:
# Delete a column from the DataFrame 
df.drop('State', axis=1, inplace=True)

print(df)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

In [20]:
# Rename columns in the DataFrame 
df.rename(columns={'First Name': 'Customer Name', 'City': 'Customer City'}, inplace=True)
print(df)

    Index      Customer Id Customer Name Last Name  \
0       1  DD37Cf93aecA6Dc        Sheryl    Baxter
1       2  1Ef7b82A4CAAD10       Preston    Lozano
2       3  6F94879bDAfE5a6           Roy     Berry
3       4  5Cef8BFA16c5e3c         Linda     Olsen
4       5  053d585Ab6b3159        Joanna    Bender
..    ...              ...           ...       ...
95     96  cb8E23e48d22Eae          Karl     Greer
96     97  CeD220bdAaCfaDf          Lynn  Atkinson
97     98  28CDbC0dFe4b1Db          Fred    Guerra
98     99  c23d1D9EE8DEB0A        Yvonne    Farmer
99    100  2354a0E336A91A1      Clarence    Haynes

                            Company      Customer City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]